.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  background-color: lightcoral;
  display: flex;
  padding: 0px 30px;
  margin: 5px 10px;
}

.container-btn {
  background-color: black;
  color: wheat;
  font-size: 20px;
  padding: 0px 15px;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 10px;
  font-variant: pointer;
}
